wheel
asyncio
gunicorn==19.7.1
aiohttp
-e git+https://github.com/aio-libs/aiohttp.git#egg=aiohttp
redis
aiodns
cchardet
peewee==2.10.1
PyMySQL
GeoIP # чтобы был установлен libgeoip-dev
ua-parser
user-agents
requests
jinja2==2.9.6
python-dotenv

# test utils
# pytest-aiohttp